apiVersion: 1
datasources:
  - name: Prometheus
    uid: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true

  # https://grafana.com/docs/grafana/latest/datasources/tempo/configure-tempo-data-source/
  - name: Tempo
    uid: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: Prometheus

  - name: Loki
    uid: Loki
    type: loki
    access: proxy
    url: http://loki:3100
